.page{
    padding-top: 110px !important;
    max-width: 1540px !important;
    margin: 0 auto !important;
}

.article p{
    text-align: justify;
    padding: 0 20px;
}

a{
    color: #000;
}

.title{
    color: #413e66 !important;
    margin-bottom: 40px !important;
    font-size: 48px !important;
    font-weight: 700 !important;
}

.subtitle{
    color: #413e66 !important;
    margin-bottom: 40px !important;
    font-size: 34px !important;
    font-weight: 700 !important;
}

