.page{
    padding-top: 110px !important;
}

.title{
    color: #413e66;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

.subtitle{
    color: #413e66;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
}

